html {
    height: 100%;
    width: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin:0px auto;
    text-align: center;
  }

  body {
    min-height: 100%;
    min-width: 100%;
    background-color: black;
    margin: 0px auto;
  }
  
  #title {
    display: flex;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(blueviolet, rgb(69,22,240));
    -webkit-text-fill-color: antiquewhite;
    margin: 0px auto;
  }

  #buttons {
    position: sticky;
    top: 0;
    display:inline-flexbox;
    text-align: center;
    background-color: rgb(69,22,240);
    margin:0px auto;
  }

  #save {
    top: 0;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  #load {
    top: 1.35em;
    border-radius: 5px;
  }

  #deck {
    position: sticky;
    display: inline-block;
    text-align: center;
    top: 3em;
    background: linear-gradient(rgb(69,22,240), blue);
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 51px;
    margin: 0px auto;
  }

  #myData{
    background-color:black;
    margin: 0px auto;
    text-align: center;
  }

  .card{
    display: inline-block;
    -webkit-text-fill-color: antiquewhite;
    text-align: center;
    vertical-align: top;
    width: 190px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto;
  }
