html {
    height: 100%;
    width: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: larger
  }
  body {
    min-height: 100%;
    min-width: 100%;
    background-color: black;
  }
  
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(blue, blueviolet);
    padding: 10px 10px 10px 10px;
  }
  #deck {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    background: blueviolet;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 5px 5px #333;
  }
  #myData{
    background-color:black;
    justify-content: space-evenly;
  }
